/* Variables */
$fontFamily1: Arial, Helvetica, Sans-Serif;
$fontFamily2: 'Sacramento', cursive;
$fontSizeH1: 3em;
$fontSizeH2: 2.5em;
$fontSizeH3: 2em;
$fontSize1: 1.2em;
$fontSize2: 1em;
$fontSizeSmall: 0.85em;